<h1>Hola, ¡{{usuario.first_name}}! </h1>

<p>Pronto verás tu Perfil y tus últimas compras...</p>

<form action="/api/sessions/logout" method="POST">
  <button class="btn btn-success btn-sm" type="submit">Cerrar Sesión</button>
</form>
