<div class="d-flex justify-content-center">
  <div class="d-flex flex-column justify-content-center w-50">

    <h1>Inicio de Sesion</h1>

    <div>{{ error }}</div>

    <form action="/api/sessions/login" method="POST" class="was-validated">

      <div class="form-group">
        <label for="email">Tu Email</label>
        <input type="text" class="form-control form-control-sm" name="email" placeholder="email" required />
      </div>

      <div class="form-group mt-3">
        <label for="">Tu contraseña</label>
        <input type="password" class="form-control form-control-sm" name="password" placeholder="contraseña" required />
      </div>

      <button type="submit" class="btn btn-success btn-sm mt-3">Ingresar</button>

    </form>

  </div>
</div>
